
<div class="container">
  <h1>Score</h1>

  <p><%= @message %></p>

  <div class="score">
    <h3> Your score is: <%= @count %></h3>
  </div>

  <div id="new-game">
    <p> <%= link_to "new game", new_path %></p>
  </div>


</div>
